.toyota {
  width: 500px;
}
.suzuki {
  width: 100%;
}
/* CSS background image */
.container1 {
  color: red;
  background-color: aqua;
  height: 300px;
  width: 100%;
  background-image: url(../images/toyotacar.jpg);
  /* background-size 
  1st value = width 2nd value = height
  contain/ cover */
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center bottom;
  /* overflow   hidden, scroll, auto */
  overflow: auto;
  /* scroll, fixed */
  background-attachment: fixed;
}

/* CSS Table */

table {
  width: 500px;
  /* border-collapse  separate(default), collapse */
  border-collapse: separate;
  empty-cells: hide;
  /* border-spacing 
1st value = horizontal space
2nd value = vertical
If one value only =both horizontal and vertical will be adjusted*/
  border-spacing: 5px 20px;
}

table tr th {
  background-color: gray;
}

table tr td {
  background-color: burlywood;
}

